* {
	box-sizing: border-box;
}
body {
	line-height: 1.4;
	margin-left: 5%;
	margin-right: 5%;
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, 'ＭＳ Ｐゴシック', sans-serif;
}
form, address {
	display: inline;
}
a:link {
	color: #00f;
}
a:visited {
	color: #03f;
}
a:active {
	color: #f00;
}
h1 {
	background-color: #9ab3e4;
	width: 100%;
}
h2 {
	padding-left: 16px;
	background-color: #9ab3e4;
	width: 100%;
}
h3 {
	padding-left: 16px;
	background-color: #f0f0f0;
	border-bottom: 3px solid #009;
}
h4 {
	color: white;
	padding-left: 16px;
	background-color: navy;
}
kbd {
	font-weight: normal;
	font-size: 90%;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
	border-right: 2px solid gray;
	border-bottom: 2px solid gray;
	padding-left: 2px;
	padding-right: 1px;
	padding-top: 2px;
	padding-bottom: 1px;
}
blockquote {
	font-size: 90%;
	border: 1px dotted black; 
	padding: 4px 16px 4px 16px; 
	background-color: #ff9;
}
.menu {
	font-size: 97%;
	background-color: silver;
	padding: 2px 2px 2px 2px;
	white-space: nowrap;
}
.x {
	font-style: italic;
	color: red;
	font-family: Georgia, serif;
}
.bar {
	background-color: #9ab3e4;
	border: 1px solid black; 
	padding-left: 6px; 
}
.bar0 {
	background-color: #9ab3e4;
	height: 90px;
}
.bar21 {
	background-color: #9ab3e4;
	width: 50%;
	height: 90px;
	float: left;
}
.bar22 {
	background-color: #9ab3e4;
	width: 50%;
	height: 90px;
}
.info {
	font-size: 90%;
	border: 1px dotted black; 
	padding: 4px 16px 4px 16px; 
	background-color: #ff9;
}
.alert {
	width: 100%;
	border: 1px solid #f44; 
	padding: 4px 16px 4px 16px; 
	background-color: #fdd;
}
.dl {
	width: 100%;
	border: 1px solid black;
	margin-top: 3;
	margin-bottom: 3
}
.ss {
	max-width: 100%;
	min-width: 320px;
}
.rate {
	width: 100px;
}

@media screen and (max-width: 767px) {
	body {
		margin-left: 1%;
		margin-right: 1%;
	}
}
@media screen and (max-width: 479px) {
	.rate,.icon,.topmenu,.rightad {
		display: none;
	}
	.bar21 {
		width: 100%;
		height: auto;
	}
	.bar22 {
		width: 100%;
		height: auto;
	}
}
